<div class="col-md-12">
  <div class="group">

    <span>
      <% if current_user && current_user.is_member_of?(@group) %>
        <label class="label label-success"> 群成员 </label>
        <%= link_to("退群", quit_group_path(@group), method: :post, class: "btn btn-primary") %>
      <% else %>
        <label class="label label-warning" >不是群成员</label>
        <%= link_to("入群", join_group_path(@group), method: :post, class: "btn btn-primary") %>
      <% end %>
    </span>

    <% if current_user && current_user.is_member_of?(@group) %>
    <%= link_to("发表文章", new_group_article_path(@group), class: "btn btn-danger pull-right") %>
    <% end %>

    <% if current_user && current_user == @group.user %>
    <%= link_to("修改", edit_group_path(@group), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>

  <h2 class="text-center"><%= @group.title %></h2>
  <p class="text-center"><%= @group.description %></p>

  <table class="table">
    <thead>
      <tr>
        <th>内容</th>
        <th>发表人</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |p| %>
      <tr>
        <td><%= p.content %></td>
        <td><%= p.user.email %></td>
        <td><%= p.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @articles %>
  </div>
</div>
